body {
    background-color: whitesmoke;
}
h1.Nome {
    font-family: 'Kanit', sans-serif;
    font-size: 90px;
    border: 10px solid orange;
    color: orangered;
    background-position: center;
    margin: 10px;
    background-color: black;
}

h1.Name {
    font-family: 'Kanit', sans-serif;
    font-size: 90px;
    border: 10px solid blueviolet;
    color: blue;
    background-position: center;
    margin: 10px;
    background-color: white;
}
.Dados {
    margin: 100px;
    border: 5px solid black;
    padding: 10px;
}
.Botão {
    color: green;
}